<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/yasmine mostafa/Desktop/Task/_Vois_Task">
        <classes>
            <class name="Task1.TestTask1">
                <methods>
                    <include name="TestSuccessfulGetTitle"/>
                </methods>
            </class>
            <class name="Task2.TestTask2">
                <methods>
                    <include name="TestSuccessfulLogoDisplayed"/>
                </methods>
            </class>
            <class name="Task3.TestTask3">
                <methods>
                    <include name="TestSuccessfulSearch"/>
                </methods>
            </class>
            <class name="Task4.TestTak4">
                <methods>
                    <include name="TestSuccessfulSearch"/>
                </methods>
            </class>
            <class name="Task5.TestTask5">
                <methods>
                    <include name="TestSuccessfulCheckBox"/>
                </methods>
            </class>
            <class name="Task6.TestTask6">
                <methods>
                    <include name="testSuccessfulFileUpload"/>
                </methods>
            </class>
            <class name="Task7.TestTask7">
                <methods>
                    <include name="TestSuccessfulDragAndDrop"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>